.product {
  flex: 0 25%;
  margin-bottom: 2%;
  margin-top: 4%;
}
.product img {
  width: 271px;
}
.ProductGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 667px) {
  .ProductGrid {
    flex-direction: column; /* change the direction of the container */
    width: auto; /* overrides the height of 80px set for large screens */
  }
}

@media only screen and (min-width: 668px) and (orientation: portrait) {
  .ProductGrid,
  .slider-tab.flex-item,
  .Selection {
    width: auto;
    flex-wrap: wrap;
  }

  .product {
    flex: 0 1 25%;
    margin: 12px;
  }

  .product img {
    width: 360px;
  }
}
